@model IEnumerable<DogGo.Models.Walk>

@{
    Layout = Layout;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Walks Index</title>
</head>
<body>

<h2>Walks</h2>

<table class="table">
    <thead>
        <tr>
            <th>Walker</th>
            <th>Dogs</th>
            <th>Duration (Minutes)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var walk in Model)
        {
            <tr>
                <td>@walk.Walker.Name</td>
                <td>
                    <ul>
                        @foreach (var walkDog in walk.WalkDogs)
                        {
                            <li>@walkDog.Dog.Name</li>
                        }
                    </ul>
                </td>
                <td>@walk.Duration</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@walk.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@walk.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@walk.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create">Create New Walk</a>

</body>
</html>

